.interests--wrapper{
    display:flex;
    justify-content: center;
}
.interests--content{
    display:flex;
    flex-direction:column;
    width: 230px;
    background-color: rgb(31, 31, 46);
    height: 110px;
}
.interests--heading{
    color: #fff;    
    font-weight: 600;
    font-size: 12px;
    margin-left: 33px;
    margin-bottom: 5px;  
}
.interests--paragraph{
    margin-left: 33px;
    color: rgb(179, 176, 176);
    font-size: 10px; 
    width: 170px;   
}